<div class="pad-1">
  <h3>Search</h3>

  <div class="flex-beetween">
    <div class="flex">
      <mat-form-field>
        <mat-label>Search destinations</mat-label>
        <input matInput #searchInput (input)="search($event)" />

       <!--  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option> </mat-option>

          <mat-option> I don't have any result </mat-option>
        </mat-autocomplete> -->
      </mat-form-field>

      <button mat-flat-button color="primary">Search</button>
    </div>
  </div>
</div>
