.search-container {
  padding: var(--main-padding);
}

.search-actions,
.search-input-group {
  display: flex;
  align-items: center;
}

.search-actions {
  justify-content: space-between;
}

.clear-button {
  margin-top: var(--button-margin-top);
}

@media only screen and (max-width: 600px) {
  .search-actions,
  .search-input-group {
    flex-direction: column;
  }

  .search-container {
    padding: var(--small-padding);
  }

  .clear-button {
    margin-top: 0;
    width: 100%;
  }
}
