.flex {
  display: flex;
  align-items: center;
}

.flex-beetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pad-1 {
  padding: 1rem;
}

button {
  margin-top: -0.2rem;
}
