.container-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  color: mintcream;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

mat-form-field {
  margin-bottom: 15px;

}
mat-label {
  color: white;
}

.back-button {
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.back-button:hover,
.back-button:focus {
  background-color: #FF4081;
  color: #fff;
}
