<div class="container-new">
  <h1>New Destination</h1>

  <form [formGroup]="destinForm" (ngSubmit)="addDestination()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput appForceUppercase formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Capital</mat-label>
      <input matInput formControlName="capital" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country Code</mat-label>
      <input matInput formControlName="country_code" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image Source</mat-label>
      <input matInput formControlName="src_img" />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit"><mat-icon>add</mat-icon>New</button>
  </form>

  <button class="home-button" mat-flat-button color="accent" (click)="goBack()">
    <mat-icon>home</mat-icon> Go Back
 </button>
</div>
