a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.nav-caption {
  display: inline-block;
  padding-left: 0.375rem;
}

mat-toolbar {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.icon-container {
  display: flex;
  margin-right: 0.2rem;
}

.icon-and-text-link {
  display: flex;
  align-items: center;
}

.hide-on-small {
  display: none;
}

.hide-on-small ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hide-on-small ul li {
  margin-left: 0.625rem;
}

.active-link {
  color: lightgray;
}

/* Media query for screens larger than 600px */
@media (min-width: 600px) {
  .hide-on-small {
    display: flex;
  }

  .hide-on-small ul {
    flex-direction: row;
  }

  .show-on-small {
    display: none;
  }
}
