<mat-toolbar color="primary" class="mat-toolbar-responsive">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="show-on-small">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a routerLink="/home" routerLinkActive="active-link">Home</a>
      </button>
      <button mat-menu-item>
        <a routerLink="/about" routerLinkActive="active-link">About</a>
      </button>
      <button mat-menu-item>
        <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
      </button>
    </mat-menu>
    <a routerLink="/home" class="icon-and-text-link">
      <div class="icon-container">
        <mat-icon>flight</mat-icon>
      </div>
      <h1>DESTINATIONS SPA</h1>
    </a>

    <span class="spacer"></span>

    <div class="hide-on-small">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
      </ul>
    </div>

    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
