a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
mat-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-container {
  display: flex;
  margin-right: 0.2rem;
}

.icon-and-text-link {
  display: flex;
  align-items: center;
}

.hide-on-small {
  display: none;
  margin-left: 10px;
}
/* Media query for screens larger than 600px */
@media (min-width: 600px) {
  .hide-on-small {
    display: inline;
  }
}

@media (min-width: 600px) {
  .show-on-small {
    display: none;
  }
}
