<mat-toolbar color="primary" class="mat-toolbar-responsive">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="show-on-small">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a routerLink="/home">Home</a>
      </button>
      <button mat-menu-item>
        <a>About</a>
      </button>
      <button mat-menu-item>
        <a>Contact</a>
      </button>
    </mat-menu>
    <a routerLink="/home" class="icon-and-text-link">
      <div class="icon-container">
        <mat-icon>flight</mat-icon>
      </div>
      <h1>DESTINATIONS SPA</h1>
    </a>

    <span class="spacer"></span>

    <a class="hide-on-small" routerLink="/home">Home</a>
    <a class="hide-on-small" routerLink="/">About</a>
    <a class="hide-on-small" routerLink="/">Contact</a>

    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
