.container {
  display: grid;
  grid-gap: 3rem;
}

mat-card {
  height: 22rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #7b20a2;
}

mat-card-header {
  margin-bottom: 0.5rem;
}

mat-card-subtitle {
  padding-top: 0.4rem;
}

mat-card-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
}

p {
  line-height: 1.6;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  mat-card {
    height: 28rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #7b20a2;
  }
}
