<mat-card
  class="card"
  (mouseover)="isHovering = false"
  (mouseout)="isHovering = true"
  [ngClass]="{'dim': isHovering}"
>
  <mat-card-header>
    <mat-card-title> {{ destination.name | uppercase }} </mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="destination.src_img"
    alt="Image of {{ destination.name }}"
  />
  <mat-card-content>
    <mat-card-subtitle>
      {{ destination.capital }} ({{ destination.country_code }})
    </mat-card-subtitle>
    <p>{{ destination.description | truncate : 40 }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      aria-label="Delete"
      (click)="deleteDestination(destination)"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-button (click)="goInfoDestination(destination)">
      VIEW DETAILS
    </button>
    <button
      mat-icon-button
      aria-label="Edit"
      (click)="goEditDestination(destination)"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
