<mat-card *ngIf="destination" class="card">
  <mat-card-header>
    <mat-card-title>{{ destination.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="destination.src_img" alt="Photo of {{ destination.name }}">
  <mat-card-content>
    <mat-card-subtitle>{{ destination.capital }} ({{ destination.country_code }})</mat-card-subtitle>
    <p>{{ destination.description }}</p>
  </mat-card-content>
</mat-card>

<div class="container">
  <button mat-flat-button color="accent" class="back-button" (click)="goBack()">
     <mat-icon>home</mat-icon> Go Back
  </button>
</div>
