.edit-destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.edit-destination__title {
  color: var(--color-title);
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

mat-form-field {
  margin-bottom: var(--spacing-form-field);
}

mat-label {
  color: var(--color-label);
}

.edit-destination__button {
  margin-top: var(--spacing-button);
}
