<div class="edit-destination">
  <h1 class="edit-destination__title">Edit Destination</h1>

  <form [formGroup]="destinForm" (ngSubmit)="updateDestination()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput appForceUppercase formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Capital</mat-label>
      <input matInput formControlName="capital" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country Code</mat-label>
      <input matInput formControlName="country_code" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image Source</mat-label>
      <input matInput formControlName="src_img" />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">
      <mat-icon>update</mat-icon>
      Update
    </button>
    <button
      type="button"
      mat-flat-button
      class="edit-destination__button"
      color="warn"
      (click)="deleteDestination()"
    >
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </form>

  <button
    mat-flat-button
    class="edit-destination__button"
    color="accent"
    (click)="goBack()"
  >
    <mat-icon>home</mat-icon> Go Back
  </button>
</div>
