.edit-destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.edit-destination__title {
  color: var(--title-color);
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

mat-form-field {
  margin-bottom: var(--spacing-form-field);
}

mat-label {
  color: var(--label-color);
}

.edit-destination__button {
  margin-top: var(--spacing-button);
}
.back-button {
  margin-bottom: 2rem;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.back-button:hover,
.back-button:focus {
  background-color: #FF4081;
  color: #fff;
}
