.container-main {
  display: flex;
  flex-direction: column;
  padding: var(--main-padding) 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--main-padding);
  color: var(--main-color);
  margin-bottom: var(--main-margin-bottom);
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-item {
  display: flex;
  justify-content: center;
}

.responsive-button {
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 10px;
}

.container-cards {
  display: grid;
  gap: var(--main-padding);
  grid-auto-flow: dense;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  margin-bottom: var(--main-margin-bottom);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .container-cards {
    grid-auto-rows: 28rem;
    grid-template-columns: 1fr;
  }

  .destinations-cards {
    grid-column: span 1;
  }
}

/* Media query for screens larger than 600px */
@media only screen and (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .button-container {
    flex-direction: row;
    justify-content: space-between;
    width: 54.5%;
  }
}
