@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #303030;
  color: white;
}

html,
body {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}
