@import "~@angular/material/prebuilt-themes/purple-green.css";

:root {
  /* Colors */
  --card-bg-color: #7b20a2;
  --text-color: white;
  --container-bg-color: #303030;
  --title-color: mintcream;
  --label-color: white;

  /* Spacing */
  --main-padding: 1rem;
  --main-margin-bottom: 1rem;
  --small-padding: 0.5rem;
  --button-margin-top: -0.2rem;
  --spacing-form-field: 1.5rem;
  --spacing-button: 2rem;

    /* Border */
  --border-radius: 10px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: mintcream;
  color: var(--text-color, white);/* Fallback to white if --text-color is not defined */
}

html,
body {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}
